{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>index.html表示してます</h1>
    <img src="{{ url_for('static', filename='images/flask-logo.png') }}">
    <p id="test">{{ my_dict.insert_something1 }}</p>
    <p>{{ my_dict.insert_something2 }}</p>
    
    <h2>タイトル表示</h2>
    <ul>
        {% for title in my_dict.test_titles %}
        {% if title == 'title2' %}
            <li>{{ title }}</li>
        {% elif title == 'title3' %}
            <li>見せられないよ</li>
        {% else %}
            <li>xxxx</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
{% endblock %}